*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0d2441;
    width: 100%;
    min-height: 100vh;
    /* overflow: hidden; */
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
    background-color: #E4584C;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 10px 9px 0 rgba(28, 22, 22, 0.637);
}

#navigationLogo{
    padding-left: 5%;
    width: 12%;
}

h1{
    animation: animate 2s ease-in-out infinite alternate;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #DD5BA1;
    background-color: black;
    padding-left: 0.5%;
    padding-right: 0.5%;
    flex-direction: row; 
    margin-right: 18%;
    border-radius: 10px; 
    text-transform: uppercase;
    float: left;
    color: #E4584C;
    font-family:"Encode Sans SC", sans-serif
}

nav{
    font-family:"Encode Sans SC", sans-serif;
    font-weight: 650pt;
    text-transform: uppercase;
    font-size: 20pt;
    display: flex;
    margin-right: 15%;
    align-self: center;
}

nav a{
    color: white;
    text-decoration: none;
    display: flex;
    padding-left: 8%; 
}

nav a:visited{
    color: white;
}

nav a:hover{
    color: #356082;
}

h2{
    animation: animate 2s ease-in-out infinite alternate;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #DD5BA1;
    padding-left: 0.5%;
    padding-right: 0.5%;
    text-transform: uppercase;
    color: #E4584C;
    font-size: 25pt;
    font-family:"Encode Sans SC", sans-serif
}

h3{
    animation: header 2s ease-in-out infinite alternate;
    -webkit-text-stroke-color: #FBB040;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 5%;
    text-transform: uppercase;
    color: #FBB040;
    font-family:"Encode Sans SC", sans-serif
}

p{
    padding-left: 0.5%;
    padding-top: 2%;
    line-height: 180%;
}

.dayOne{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50vh;
    background-image: url(../img/neonBackground.png);
    background-size: cover;
    background-position: center center;
    color: white;
    font-family:"Source Sans 3";
    font-size: 15pt;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 10%;
    padding-bottom: 8%;
}

.dayTwo{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: 50vh;
    background-image: url(../img/neonBackground.png);
    background-size: cover;
    background-position: center center;
    color: white;
    font-family:"Source Sans 3";
    font-size: 15pt;
    padding-left: 2%;
    padding-bottom: 32%;
}

.dayTwoEvents{
    padding-top: 2%;
    padding-right: 18%;
    padding-left: 5%;
}

.cantoneseOperaPosterCover img{
    width: 88%;
}

.dayThree{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: 50vh;
    background-color: #ffffff;
    color: #444;
}

@keyframes animate{
    from{
        text-shadow: 0 0 10px #DD5BA1;
    }
    to{
        text-shadow: 0 0 20px #DD5BA1,
                    0 0 5px #DD5BA1;
    }  
}

@keyframes header{
    from{
        text-shadow: 0 0 10px #FBB040;
    }
    to{
        text-shadow: 0 0 20px #FBB040,
                    0 0 5px #FBB040;
    }  
}

