*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(../img/neonBackground.png);
    background-color: #003371;
    background-size: cover;
    background-position: center center;
    top: 100px;
    width: 100%;
    min-height: 100vh;
}




header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
    background-color: #E4584C;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 10px 9px 0 rgba(28, 22, 22, 0.637);
}

#navigationLogo{
    padding-left: 5%;
    width: 12%;
}

h1{
    animation: animate 2s ease-in-out infinite alternate;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #DD5BA1;
    background-color: black;
    padding-left: 0.5%;
    padding-right: 0.5%;
    flex-direction: row; 
    margin-right: 18%;
    border-radius: 10px; 
    text-transform: uppercase;
    float: left;
    color: #E4584C;
    font-family:"Encode Sans SC", sans-serif
}

@keyframes animate{
    from{
        text-shadow: 0 0 10px #DD5BA1;
    }
    to{
        text-shadow: 0 0 20px #DD5BA1,
                    0 0 5px #DD5BA1;
    }  
}

nav{
    font-family:"Encode Sans SC", sans-serif;
    font-weight: 650pt;
    text-transform: uppercase;
    font-size: 20pt;
    display: flex;
    margin-right: 15%;
    align-self: center;
}

nav a{
    color: white;
    text-decoration: none;
    display: flex;
    padding-left: 8%; 
}

nav a:visited{
    color: white;
}

nav a:hover{
    color: #356082;
}

#description{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    font-family:"Source Sans 3";
    font-size: 15pt;
    font-weight: 650;
    line-height: 200%;
}

h2{
    font-family:"Encode Sans SC", sans-serif;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    color: white;
    margin-top: 8%;
    font-weight: 800;
}

#partnersDescription{
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    font-family:"Source Sans 3";
    font-size: 15pt;
    font-weight: 650;
    line-height: 200%;
}

#organizations img{
    margin: 2%;
    width: 20%;
}

#organizations{
    display: flex;
    justify-content: center;
    align-items: center;
}






